/* Basic CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    hanging-punctuation: first last;
    /* color-scheme: light dark; */
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    max-width: 50ch; 
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 2rem;
    }
}

body {
    background: url(images/triangles_bgpattern.webp) repeat;
    min-height: 100svh;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    height: 75px;
}

.primary-red {
    color: red;
}

.primary-green {
    color: green;
}

header h2 {
    text-transform: uppercase;
    padding: 5rem;
}

header ul {
    display: flex;
    /* gap: 3rem; */
    list-style-type: none;
}

header ul li {
    padding: 3rem;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header ul li a:hover {
    color: #333;
}

header ul li a:active {
    color: #aaa;
}

header ul li a:visited {
    color: #000;
}

/* Body Styling */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.meals {
    display: grid;
    gap: 15px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 250px 250px 250px;
}