/* Custom properties for re-used attributes */
:root {
    --primary-clr-green: #8cc628;
}

/* Basic CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    max-width: 40ch; 
    text-wrap: pretty;
}

body {
    font-family: 'Roboto', sans-serif, Georgia;
    background: url(images/triangles_bgpattern.webp) repeat;
    min-height: 100svh;
    overflow: hidden;
}

/* Header styling */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
}

header > * {
    margin: 1rem 6rem;
}

.primary-red {
    color: #ce2020;
}

.primary-green {
    color: var(--primary-clr-green)
}

header h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

header ul {
    display: flex;
    gap: 4.5rem;
    list-style-type: none;
}

header ul li {
    font-weight: 500;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header ul li a:visited {
    color: #000;
}

header ul li a:hover {
    color: #333;
}

header ul li a:active {
    color: #aaa;
}

/* Body Styling */

.content-container {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-wrap: nowrap;
    margin: 6.25rem 4rem;
}

.about {
    margin: 0 2rem 2rem 2rem;
    overflow: hidden;
}

h1 {
    font-size: 3.25rem;
    line-height: 2.9rem;
    padding: 0 2rem 0 0;
    margin: 1rem 0 2rem;
    white-space: wrap;
}

h1 span::before {
    content: "\a";
    white-space: pre;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 4rem;
}

.upper {
    text-transform: uppercase;
}

.meals {
    position: relative;
    display: flex;
    gap: 15px;
    width: 100%;
}

.meal {
    flex: 1;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Repetative code here - couldn't get background-size to work unless it was directly in provided id */
#breakfast {
    background: url(images/apple-breakfast.jpeg);
    background-size: cover;
}

#lunch {
    background: url(images/pasta-salad.jpeg);
    background-size: cover;
}

#dinner {
    background: url(images/Shrimp-Broccoli.jpeg);
    background-size: cover;
}

.meal-desc,
.meal-name {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}

.meal-desc {
    background-color: #fff;
    bottom: 2.75rem; /* Override previous bottom position to move this element above .meal-name*/
    padding: 1rem 1.25rem;
}

.meal-name {
    background-color: var(--primary-clr-green);
    padding: .75rem .75rem .75rem 4rem;
}